.landing-page-container {
  display: flex;
  align-items: stretch;
}

.landing-page-container > div {
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
}

.landing-page-gutter {
  flex-grow: 1;
}

.landing-page-cta {
  flex-grow: 2;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #d5d5d5;
  height: 325px;
  min-width: 25%;
  cursor: pointer;
  padding: 5px;
  width: 20%;
}

.cta-image-container {
  max-width: 100%;
  max-height: 25%;

  .cta-image {
    max-width: 100%;
    max-height: 25%;
  }
}
