<div class="landing-page-container">
  <div class="landing-page-gutter"></div>
  <div (click)="routing('shell')" class="landing-page-cta">
    <div class="cta-image-container">
      <img class="cta-image" src="../../assets/images/terminal.jpg" />
    </div>
    <div class="cta-info">
      <h3>DuckDB Shell</h3>
      <p>A live DuckDB shell running in the browser. Click here to check it out and see what the shell can do!</p>
    </div>
  </div>
  <div (click)="routing('chart')" class="landing-page-cta">
    <div class="cta-image-container">
      <img class="cta-image" src="../../assets/images/chart.jpg" />
    </div>
    <div class="cta-info">
      <h3>eCharts Example</h3>
      <p>A live echarts chart populated by a live query from DuckDB! Stay tuned for added interactivity.</p>
    </div>
  </div>
  <div (click)="routing('dashboard')" class="landing-page-cta">
    <div class="cta-image-container">
      <img class="cta-image" src="../../assets/images/dashboard.jpg" />
    </div>
    <div class="cta-info">
      <h3>Dashboard Example</h3>
      <p>A live dashboard chart populated by charts presenting data from DuckDB! Stay tuned for added interactivity.</p>
    </div>
  </div>  <div class="landing-page-gutter"></div>
</div>
