/* You can add global styles to this file, and also import other style files */
@import '~xterm/css/xterm.css';

body {
  margin: 0;
  font-family: Open Sans;
}

.xterm .xterm-viewport {
  overflow-y: hidden;
}
