.main-container {
  display: flex;
  align-items: stretch;
}

.main-container > div {
  background-color: #f5f5f5;
  color: #000000;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
}

.sub-header {
  font-style: italic;
  font-size: 14px;
  margin-top: -20px;
}
